.viewcard {
  width: 1000px;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100vw;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 10px;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-header-cell,
.mat-sort-header {
  background-color: #1976d2;
  color: beige;
}

.w-8 {
  width: 8% !important;
}

.w-10 {
  width: 10% !important;
}
